$main-dark: rgba(53, 49, 49, 0.822);
$text-light: white;
//$main-background: #78a1bb;
$main-background: #ebf5ee;

//$component-background: #213158;
$ligh-blue: #78a1bb;
$dark-comp-background: #143109;
$light-comp-backgrund: #679436;
