@use "../config/colors" as colors;

.menuContainer {
  position: absolute;
  top: 114px;
  width: 100%;
  background-color: colors.$main-dark;

  .menuMobile {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
  }
}
