@use "../config/colors" as colors;

.header {
  background-color: colors.$main-dark;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  align-items: center;
  position: fixed;
  overflow: visible;
  transition: top 0.3s;
  top: 0;
  opacity: 0.8;
  width: 100%;

  .menu {
    @media (min-width: 768px) {
      display: none;
    }
  }

  .logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    & h1 {
      margin: 0 0 10px 0;
    }

    @media (min-width: 768px) {
      flex-direction: row;
    }

    .logo {
      width: 50px;
      padding: 5px;

      @media (min-width: 768px) {
        width: 60px;
        padding: 10px;
      }
    }
  }
  .menuDesktop {
    display: none;

    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      list-style: none;
    }
  }
}
