@use "../config/colors" as colors;

.inactive {
  color: inherit;
  text-decoration: none;
  margin: 30px;
}

.active {
  color: colors.$ligh-blue;
  text-decoration: none;
  margin: 30px;
  border-bottom: 2px solid;
  border-bottom-color: colors.$ligh-blue;
}
